:root {
  --base-width: 300px;
  --base-width-desktop: 1270px;
  --color-azul: #0066fe;
  --color-negro: #203461;
  --color-gris: #d6d8dc;
  --color-verde: #1dbe4d;
  --color-dash1: #fb6900;
  --color-dash2: #f63700;
  --color-dash3: #004853;
  --color-dash4: #00b9bd;
  --color-dash5: #aaaaaa;
}

.h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
  color: var(--color-negro);
}

.h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 2px;
  text-align: left;
  color: var(--color-negro);
}

.h1 {
  font-size: 30px;
  font-weight: 800;
  margin: 0px;
  text-align: left;
}

.label {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-negro);
}

.p {
  margin: 0px;
  color: var(--color-negro);
}

.reportTitle {
  margin-left: auto;
  margin-right: auto;
  transform: translate(-20px);
  font-weight: 500;
}

.version {
  font-size: small !important;
  font-weight: lighter !important;
  color: gray;
}

.margin_gd {
  margin: 10px;
}

.padding_pq {
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

.Disponibilidad,
.Calidad,
.Rendimiento {
  min-height: 450px;
}

.columns {
  display: flex;
  flex-direction: row;
}

.rows {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left_rows {
  display: flex;
  align-items: flex-start;
}

.noselect {
  -webkit-touch-callout: none;

  /* iOS Safari */
  -webkit-user-select: none;

  /* Safari */
  -khtml-user-select: none;

  /* Konqueror HTML */
  -moz-user-select: none;

  /* Old versions of Firefox */
  -ms-user-select: none;

  /* Internet Explorer/Edge */
  user-select: none;

  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.sub_config {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.subSubConfig {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;

  > * {
    margin: 5px;
  }
}

.dashboard {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
}

.subdashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cube_container {
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  box-shadow: 3px 3px 4px #aaaaaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
  width: 350px;
  max-width: 350px;
  height: fit-content;
  box-sizing: border-box;
}

.Disponibilidad > div:nth-child(2),
.Calidad > div:nth-child(2),
.Rendimiento > div:nth-child(2) {
  flex-direction: column-reverse !important;
}

@media (min-width: 740px) and (max-width: 1100px) {
  .indicadoresSubCont {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 20px;
  }

  .Indicadores {
    min-width: 722px;
    width: 722px;
    max-width: 722px;
  }

  .Rendimiento {
    min-height: 825px !important;
  }

  .config,
  .title {
    min-width: 722px;
    width: 722px;
    max-width: 722px;
  }

  .Indicadores .pieContainer {
    max-width: 250px;
  }

  .pieContCont {
    max-width: 250px !important;
    width: 250px !important;
    display: block;
    box-sizing: border-box;
  }
}

@media (min-width: 1100px) {
  .indicadoresSubCont {
    display: flex;
    width: 80%;
    justify-content: space-around;
    padding: 20px;
  }

  .Indicadores,
  .config,
  .title {
    min-width: 1087px;
    width: 1087px;
    max-width: 1087px;
  }

  .Indicadores .pieContainer {
    max-width: 250px;
  }

  .pieContCont {
    max-width: 250px !important;
    width: 250px !important;
    display: block;
    box-sizing: border-box;
  }
}

.cube_container > {
  .title_container {
    width: 100%;
  }

  *:not(.title_container) {
    margin: 5px;
  }
}

.relative {
  position: relative;
}

.full_width {
  width: 100%;
  min-width: 100%;
}

.indicador {
  font-size: 45px;
}

.underline_ind {
  width: 100%;
  margin-top: -5px;
  margin-bottom: 5px;
}

.underlineDisponibilidad {
  border-bottom: 4px solid rgb(66, 133, 244);
}

.underlineRendimiento {
  border-bottom: 4px solid rgb(219, 68, 55);
}

.underlineCalidad {
  border-bottom: 4px solid rgb(244, 180, 0);
}

.underlineEficiencia {
  border-bottom: 4px solid rgb(15, 157, 88);
}

.campo_ind {
  display: flex;
  text-align: right;
  margin: 5px;
  padding: 10px;
  width: 113px;
}

.master_indicadores {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button_main {
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-negro);
  border-radius: 5px;
  margin: 5px;
  position: relative;
  cursor: pointer;
  transform-origin: center;
  -webkit-touch-callout: none;

  /* iOS Safari */
  -webkit-user-select: none;

  /* Safari */
  -khtml-user-select: none;

  /* Konqueror HTML */
  -moz-user-select: none;

  /* Old versions of Firefox */
  -ms-user-select: none;

  /* Internet Explorer/Edge */
  user-select: none;

  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
    background-color: var(--color-gris);
  }
}

.title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-negro);
}

.menu_download {
  .button_download {
    margin-right: 6px;
  }

  > * {
    width: 100%;
    display: flex;
    justify-content: flex-start !important;

    &:hover {
      background-color: var(--color-gris);
    }
  }

  transform-origin: center;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
  background-color: white;
  bottom: -43px;
  right: 5px;
  width: fit-content;
  height: fit-content;
  text-align: left;
  border: 2px solid var(--color-negro);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 3px 3px 4px #aaaaaa;
  cursor: pointer;
}

.button_download {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 0.8));
  width: 16px;
  height: 6px;
  border: 2px solid var(--color-negro);
  border-top: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-top: 8px;

  &::after {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border-left: 2px solid var(--color-negro);
    border-bottom: 2px solid var(--color-negro);
    transform: rotate(-45deg);
    left: 2px;
    bottom: 4px;
  }

  &::before {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 10px;
    background: var(--color-negro);
    left: 5px;
    bottom: 5px;
  }
}

.button_minimize_down > div {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 0.8));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
  margin-right: 8px;
  top: -1px;

  &::after {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-bottom: 2px solid var(--color-negro);
  }

  &::before {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-bottom: 2px solid var(--color-negro);
    bottom: 0;
    width: 14px;
    height: 2px;
    left: 2px;
  }

  &::after {
    width: 10px;
    height: 10px;
    border-right: 2px solid var(--color-negro);
    transform: rotate(45deg);
    left: 4px;
    top: 2px;
  }
}

.selected_form {
  border: 2px solid var(--color-negro);
  border-radius: 4px;
  width: 300px;
  position: relative;
  height: fit-content;
}

.selected_head {
  display: flex;
  justify-content: space-between;
  height: 22px;

  > h3 {
    margin-left: 6px;
  }
}

.button_arrow_down {
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }

  > div {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px;
    margin-right: 5px;

    &::after,
    &::before {
      content: '';
      display: block;
      box-sizing: border-box;
      position: absolute;
      border-bottom: 2px solid var(--color-negro);
    }

    &::after {
      width: 10px;
      height: 10px;
      border-right: 2px solid var(--color-negro);
      transform: rotate(45deg);
      left: 4px;
      top: 2px;
    }
  }
}

.eficiencia_indicador {
  border-radius: 10px;
  box-shadow: rgb(43, 255, 0) 0px 0px 8px;
}

.inicio_fin {
  margin: 6px;
  margin-bottom: 2px;
}

.input {
  border-color: var(--color-negro) !important;
  border-width: 1px;
  border-radius: 5px;
  color: var(--color-negro);
}

.search_section {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  box-sizing: border-box;

  > * {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    > *:first-child {
      margin-right: 8px;
    }

    &:first-child {
      margin-bottom: 8px;
      display: flex;
      justify-content: flex-start;

      > input:last-child {
        width: 150px;
      }
    }

    &:nth-child(2) {
      border: 1px solid var(--color-negro);
      border-radius: 5px;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      height: 200px;
      overflow-y: scroll;
    }
  }
}

.tab_container {
  width: calc(100% + 30px);
  position: relative;
  top: -21px;
  background-color: var(--color-gris);
  display: none;
  justify-content: space-between;

  > * {
    &:first-child > * {
      border: 1px solid white;
      background-color: var(--color-negro) !important;
      color: white;
      width: 80px;
      height: 22px;
      background-color: white;
      border-radius: 5px 5px 0px 0px;
      padding: 2px 9px 0px 9px;
    }

    &:not(:first-child) {
      border: 1px solid white;
      background-color: var(--color-negro) !important;
      color: white;
      width: 80px;
      height: 22px;
      background-color: white;
      border-radius: 5px 5px 0px 0px;
      padding: 2px 9px 0px 9px;
      width: fit-content;
    }

    &:first-child > * {
      > *:first-child {
        height: 21px;
        text-align: left;
        text-overflow: clip;
        white-space: nowrap;
        overflow: hidden;
      }

      &:first-child {
        background-color: white !important;
        color: var(--color-negro);
      }
    }
  }
}

/*legends*/

.indicator {
  width: 13px;
  height: 13px;
  background-color: #aaaaaa;
  margin-right: 3px;
  border-radius: 2px;
  cursor: pointer;
}

.legend {
  text-align: left;
  margin: 15px !important;
  width: 100%;
  display: flex;
  justify-content: center;
  -webkit-touch-callout: none;

  /* iOS Safari */
  -webkit-user-select: none;

  /* Safari */
  -khtml-user-select: none;

  /* Konqueror HTML */
  -moz-user-select: none;

  /* Old versions of Firefox */
  -ms-user-select: none;

  /* Internet Explorer/Edge */
  user-select: none;

  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.select {
  margin: 5px;
}

/* Remove default bullets */

.ul {
  list-style-type: none;
  padding-inline-start: 20px;
}

.legend {
  list-style-type: none;
  padding-inline-start: 20px;

  span {
    cursor: pointer;
  }

  margin: 0;
  padding: 0;
}

/* Remove margins and padding from the parent ul */

/* Style the caret/arrow */

.caret {
  cursor: pointer;
  user-select: none;
  position: relative;
  display: flex;
  align-items: flex-start;
  left: -17px;

  /* Prevent text selection */
}

.li {
  &.leg_toggle {
    display: flex;
    align-items: flex-start;
  }

  margin: 2px;
}

.ul {
  margin: 2px;
}

/* Create the caret/arrow with a unicode, and style it */

.caret_symbol {
  color: var(--color-negro);
  display: inline-block;
  margin-right: 6px;
  width: fit-content;
  height: fit-content;
}

.pieContainer {
  min-width: 150px;
  width: 100%;
  max-width: 450px;
}

.pieCiclosContainer,
.pieRendimientoContainer {
  transform: scale(0.75);
}

.lineContainer {
  min-width: 300px;
  width: 100%;
  max-width: 800px;
}

.Material > div:nth-child(2),
.Ciclos > div:nth-child(2) {
  flex-direction: column-reverse !important;
}

.MaterialPlc {
  width: 120px;
  padding: 3px;
}

.MaterialPlcCont {
  margin: 5px;
  margin-top: 10px;
}

.MontajePlc,
.ciclePlc {
  width: 120px;
  padding: 3px;
}

.MontajePlcCont,
.ciclePlcCont {
  margin: 5px;
  margin-top: 10px;
}

.montajeLabels {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold !important;
  margin: 5px;
  width: 50%;

  > * {
    width: 100%;
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

.rangoCont {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.liveContainer {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
  top: 10px;
  position: relative;

  > div {
    margin-right: 10px;
  }

  input {
    margin: auto;
    margin-top: 5px;
    margin-left: 5px !important;
  }

  > div {
    > div:before {
      position: absolute;
      background-color: white;
      z-index: 2;
      max-width: 150px;
      display: none;
      border: gray solid 1px;
      box-shadow: 1px 1px gray;
      padding: 2px;
      transform: translateX(-100%);
      text-align: left;
    }

    &:nth-child(1) > div:before {
      content: 'Conectarse directamente a las maquinas.';
    }

    &:nth-child(2) > div:before {
      content: 'Aplana y compensa los datos de entrada, operación avanzada.';
    }

    &:nth-child(3) > div:before {
      content: 'Fuerza la llamada de data por minutos (Tardara mucho mas).';
      min-width: 100px;
    }

    > {
      div {
        &:hover:before {
          display: block;
        }

        border-radius: 50%;
        border: black solid 1px;
        width: 15px;
        height: 15px;
        margin: 5px;
      }

      input {
        margin: auto;
      }
    }
  }
}

.interrogation {
  box-sizing: border-box;
  padding-bottom: 2px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.h1 {
  font-size: 30px;
  color: var(--color-negro);
}

@media (max-width: 740px) {
  .h1 {
    font-size: 15px !important;
    text-align: center;
  }
}

.title text {
  font-size: 20px;

  .span {
    font-weight: 600;
  }
}

.titleContainer {
  display: flex;
  width: 100%;
  text-align: left;
}
