@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'rsuite/DateRangePicker/styles/index.css';
@import 'rsuite/Checkbox/styles/index.css';
@import 'rsuite/CheckboxGroup/styles/index.css';
@import 'rsuite/SelectPicker/styles/index.css';
@import 'rsuite/Panel/styles/index.css';
@import 'rsuite/PanelGroup/styles/index.css';

#root{ padding: 10px; }
/* Variables */
:root {
  --icon-fontSize-sm: 1rem;
  --icon-fontSize-md: 1.25rem;
  --icon-fontSize-lg: 1.5rem;
}

*:focus-visible {
  outline: 2px solid var(--mui-palette-primary-main);
}

html {
  height: 100%;
  
}

body {
  height: 100%;
}